

#navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #75ACB4;
    padding: 1%;
    a{
        color: white;
        text-decoration: none;
        
    }
}